body {
    background-color: #202020;   /* dark grey */
    padding: 20px;
    padding-top: 5px;
}
* {
    /* CSS universal selector. selects all elements HTML elements on page */
}
h1 {
    color: teal;
    text-align: center;
    font-family: Georgia;
    font-size: 40px;
}
h2 {
    color: RebeccaPurple;
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    text-decoration: underline;
}
h3 {
    color: SteelBlue;
    text-align: left;
    font-family: Georgia;
    font-size: 25px;
}
h4 {
    color: MediumVioletRed;
    font-family: Georgia;
    font-size: 20px;
}
p, {
    color: #d8bfd8;
    font-family: Trebuchet MS;
    font-size: 18px;
}

/* style the nav bar */
.narBar {
    overflow: hidden;
    background-color: #4f4f55;
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.navBar a:hover {
    background-color:#54545a
}
.navBar:after /* clear area under nav bar */{
    content:"";
    display: table;
    clear: both;
}