body {
	background-color: #202020   /* dark grey */
}
* {
    /* CSS universal selector. selects all elements HTML elements on page */
}
h1 {
    color: teal;
    text-align: center;
    font-family: Georgia;
    font-size: 40px;
}
h2 {
    color: RebeccaPurple;
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    text-decoration: underline;
}
h3 {
    color: SteelBlue;
    text-align: left;
    font-family: Georgia;
    font-size: 25px;
}
h4 {
    color: MediumVioletRed;
    font-family: Georgia;
    font-size: 20px;
}
p {
    color: thistle;
    font-family: Abel;
    font-size: 18px;
}

/* style the nav bar */
.narBar {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}
.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.navBar a:hover {
    background-color: #111111
}